.khoi_to {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.khoi_thu_1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 250px;
    color: #FAFAFA;
}
.khoi_thu_1_1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.khoi_thu_1_2 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nut_mau_do:hover {
    background-color: #DB4444;
    color: white;
    border: none;
}
.chu_chuyen_mau:hover {
    color: black;
}